{% extends 'base.html.twig' %}
{% block title %} {{title}} {{ parent ()}} {% endblock %}
{% block body %}
    {{ form_start(productForm)}}
    <h2 class="text-center">Ajout de produit !</h2>
    {{form_row(productForm.reference)}}
    {{form_row(productForm.libelle)}}
    {{ form_row(productForm.prix) }}
    {{ form_row(productForm.stock) }}
    {{ form_row(productForm.category,{"label":"Catégories"}) }}
    <button>Ajouter</button>
    {{ form_end(productForm)}}
{% endblock %}


